{% extends "base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

<style>

    .container {
			width: 100%;
			max-width: 600px;
			margin: 0 auto;
			padding: 50px;
			background-color: #fff;
			text-align: center;
      box-shadow: 10px 10px;
		}
</style>
<br>
<br>
<br>
<br>
<br>
<br>

<div class="container">
    <i class="material-icons">mail</i></center> <h6>sohailshaik2911@gmail.com</h6>
    <i class="material-icons">support_agent</i></center> <h6>7993831593</h6>
    <i class="material-icons" >public</i></center> <h6>IG || @sohailshaik2911</h6>


</div>
{% endblock %}